build/**
project.sublime-workspace
game_hot_reload.exe
game_hot_reload.bin
game_hot_reload.bin.DSYM
raylib.dll
linux/**
source/gen.odin
source/generators/gen_log.txt
*.png~
*/tmp/*
*.kra~
*.kra-autosave.kra
*.save